<!DOCTYPE html>
<html lang="en">
<head>
	<base target="_blank">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=0.86, maximum-scale=3.0, minimum-scale=0.86">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/bootstrap-4.3.1-dist/css/bootstrap.min.css') }}" \
	integrity="" \
	crossorigin="anonymous">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/custom/sticky-footer-navbar.css') }}" >

	<link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/jquery-3.1.1-dist.js') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/bootstrap-4.3.1-dist/js/bootstrap.min.js') }}" \
	integrity="" \
	crossorigin="anonymous">

	<title>PyTorch Chatbot</title>
</head>
<body>
	<script src="https://cdn.cai.tools.sap/webchat/webchat.js"
	channelId="f3d72dc8-ebb3-467c-9654-6efa462ae513"
	token="f2e6033e994ce9cc7aca294ec85a8a98"
	id="cai-webchat">
	</script>
	<div class="container">
		<div class="row">
			<h1>PyTorch Chatbot</h1>
			<p>This chatbot is hosted on an AWS EC2 t2.micro instance.</p>
		</div>
	</div>
</body>
</html>
